@model IEnumerable<lIb.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Форма фильтрации -->
<form method="get" asp-action="Index">
    <p>
        Автор: <input type="text" name="searchAuthor" value="@ViewData["searchAuthor"]" />
        Жанр: <input type="text" name="searchGenre" value="@ViewData["searchGenre"]" />
        <input type="submit" value="Фильтр" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Сброс</a>
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
   {
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
            </td>
        </tr>
}   }
    </tbody>
</table>